body {
  background-color: #444;
  background-image: url(599252ff2bad057ecf1977838f0aec3a.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

